{% extends 'base.html.twig' %}

{% block title %}S'instruire{% endblock %}

{% block body %}

{# <section class="bg-cover bg-center h-[50vh]" style="background-image: url('{{ asset('images/frontDiv.png') }}'); margin: 0 auto; width: 100%; max-width: 1300px; background-size: contain; background-repeat: no-repeat;"></section> #}
<div class="relative w-full bg-[#F9F2E1] py-10 flex justify-center items-center">
    <img class="w-full max-w-screen-lg h-auto max-h-[70vh] object-cover rounded-md" src="/images/acceuil.png" alt="Image accueil">

    <!-- Texte centré et responsive -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
        <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-bold">S'instruire pour un avenir durable</h1>
        <p class="text-white text-lg md:text-2xl lg:text-3xl mt-2">Renseignez-vous sur les bonnes pratiques !</p>
    </div>
</div>

{# creation des cards #}

<section class="relative bg-transparent p-4 flex justify-center">
    <!-- Container principal des cartes, avec un espacement et un centrage -->
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 w-full max-w-7xl">

        <!-- 1er  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">1ere carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

        <!-- 2eme  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">2eme carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

        <!-- 3eme  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">3eme carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

        <!-- 4eme  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">4eme carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

        <!-- 5eme  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">5eme carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

        <!-- 6eme  carte -->
        <div class="bg-[#a4b07d] border border-gray-200 rounded-lg shadow-lg text-sm flex flex-col items-center p-4">
            <div class="p-5 text-center">
                <a href="/">
                    <img class="h-24 mx-auto mb-4" src="{{ asset('images/logo.png') }}" alt="Logo">
                </a>
                <a href="#">
                    <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-black">6eme carte</h5>
                </a>
                <p class="text-gray-700 dark:text-black">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

    </div>
</section>


{% endblock %}
