{% extends 'base.html.twig' %}

{% block title %}S'instruire{% endblock %}

{% block body %}

<section class="flex items-center justify-center bg-cover bg-center w-[1293px] h-[722px]" style="background-image: url('{{ asset('images/frontDiv.png') }}')"></section>

<div style="height: 2px; background-color: black; width: 100%; margin: 10px auto"> </div>


{# creation des cards #}

<section style="background-color: transparent; height: 50rem;" class="flex justify-center items-center">

    <div class="grid grid-cols-3 gap-4 sm:grid-cols-2 md:grid-cols-3">
  
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem; " src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem"  src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem"  src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem"  src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem"  src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-sm" style="height: 20rem; background-color: #b1ca77">
    
            <div class="p-5">
                <a href="/">
                    <img style="height: 7rem"  src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
                </a>
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>

    </div>

</section>


{% endblock %}
